<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ladstatt.android.sqlite"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DbActivity"
            android:label="@string/first_title">

        </activity>
        <activity
            android:name=".MyListActivity"
            android:label="List Activity" />

        <!--
        <activity
            android:name="net.ladstatt.android.cp.ContentProviderActivity"
            android:label="@string/app_name" />
        <activity
            android:name="net.ladstatt.android.cp.CountryEdit"
            android:label="@string/app_name" />

        <provider
            android:name="net.ladstatt.android.cp.MyContentProvider"
            android:authorities="com.as400samplecode.contentprovider"
            android:exported="true"
            android:readPermission="true"
            android:writePermission="true" />
        -->

    </application>

</manifest>